.card-main {
  height: 374px;
  width: 284px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card-main:hover {
  animation-name: pulse;
  /* animation: infinite; */
  --webkit-animation-name: pulse;
  animation-duration: infinite;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@keyframes pulse {
    0%{
        transform: scale(0.9);
        opacity: 0.7;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
      }
    }
    
    @-webkit-keyframes pulse {
      0% {
        -webkit-transform: scale(0.95);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
      }
}

.body-card {
  display: block;
  position: relative;
  height: 182px;
  width: 273px;
  /* border: 1px; */
  border-radius: 20px;
  box-shadow: 1px;
  background-color: red;
  z-index: 1000;
  margin-top: 100px;
}

.menu-item-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

.menu-item-img:hover {
}
